@model EmployeeManagementSystem.Models.UserProfile

@{
    ViewData["Title"] = "Profile Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>First Name:</h4>
    <p>@Model.FirstName</p>

    <h4>Last Name:</h4>
    <p>@Model.LastName</p>

    <h4>Address Line 1:</h4>
    <p>@Model.AddressLine1</p>

    <h4>Address Line 2:</h4>
    <p>@Model.AddressLine2</p>

    <h4>County:</h4>
    <p>@Model.County</p>

    <h4>Eircode:</h4>
    <p>@Model.Eircode</p>

    <h4>Phone Number:</h4>
    <p>@Model.PhoneNumber</p>

    <h4>PPSN:</h4>
    <p>@Model.PPSN</p>

    <h4>Date of Birth:</h4>
    <p>@Model.DateOfBirth.ToShortDateString()</p>

    <h4>Gender:</h4>
    <p>@Model.Gender</p>

    <h4>Tax Category:</h4>
    <p>@Model.TaxCategory</p>
    @if (Model.TaxCategory == TaxCategory.MarriedTwoIncomes)
    {
        <h4>Partner Income:</h4>
        <p>@Model.PartnerIncome</p>
    }
</div>
<div class="form-group">
    <a asp-action="Salary" asp-route-id="@Model.UserProfileId" class="btn btn-primary">View Salary Breakdown</a>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.UserProfileId">Edit</a> |
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
